.popup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.close-btn-teamname {
    padding: 5px 5px;
    font-size: 30px;
    color: #000000;
}

.fantasyTeamNameForm {
    background-color: rgba(238, 238, 239, 0.95);
    border-radius: 40px;
    border: 3px solid #b6d7a8;
    cursor: default !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    font-family: 'Alef', sans-serif;
    padding: 40px 120px;
    direction: rtl;
    font-size: 50px;
    unicode-bidi: plaintext;
    gap: 50px;
}

.welcome-header {
    unicode-bidi: plaintext;
    font-family: 'Alef', sans-serif;
    font-size: 50px;
    justify-content: center;
}

.fantasyTeamNameForm>div {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.input-style {
    background-color: rgba(238, 238, 239, 0.95);
    unicode-bidi: plaintext;
    border: 0;
    border-bottom: 1px solid #000000;
    font-family: 'Alef', sans-serif;
    width: 100%;
    width: auto;
    font-size: 40px;
    /*padding: 0.5rem;*/
}

.input-style::placeholder {
    unicode-bidi: plaintext;
    font-family: 'Alef', sans-serif;
    font-size: 40px;
}

.labelStyle {
    unicode-bidi: plaintext;
    font-family: 'Alef', sans-serif;
    font-size: 40px;
    text-align: right;
    font-weight: bold;
    min-width: 150px;
    margin-left: 1rem;
}


/* Style for the English label */
.submit-btn {
    unicode-bidi: plaintext;
    font-family: 'Alef', sans-serif;
    font-size: 50px;
    margin-top: 10px;
    background-color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #b6d7a8;
    transform: translateY(-0.1rem);
}

.error-label {
    unicode-bidi: plaintext;
    font-family: 'Alef', sans-serif;
    font-size: 40px;
    margin-top: 10px;
    color: red;
}

@media only screen and (min-width: 731px) and (orientation: landscape) {
    .fantasyTeamNameForm {
        padding: 20px 60px;
    }
    .submit-btn {
        padding: 2px 6px;
    }
    .fantasyTeamNameForm,
    .welcome-header,
    .error-label,
    .submit-btn {
        font-size: 30px;
        margin-top: 2px;
    }
    .input-style,
    .input-style::placeholder,
    .labelStyle {
        font-size: 20px;
    }
    .close-btn-teamname {
        font-size: 15px;
    }
    .fantasyTeamNameForm>div {
        margin-top: 0px;
    }
}