.btnFantasy {
    white-space: nowrap;
    text-align: center;
    background-color: #eeeeef;
    border-radius: 2vw;
    border: 0.25vw solid #b6d7a8;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: 'Alef', sans-serif;
    font-size: 2vw;
    padding: 4.5% 9%;
    text-decoration: none;
    text-shadow: 0vw 0.1vw 0.1vw #2f6627;
    width: 7%;
    background-size: contain;
    align-content: flex-end;
}

.fantasy-logo {
    position: fixed;
    z-index: -1;
    left: 80%;
    top: 6.5%;
    height: 8%;
    width: 12%;
}