.popup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Center vertically and horizontally */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background overlay */
}

.close-btn-teamname {
    position: relative;
    top: 0;
    left: 18rem;
    font-size: 1.25rem;
}

.fantasyTeamNameForm {
    background-color: #eeeeef;
    border-radius: 2vw;
    border: 0.3vw solid #b6d7a8;
    color: #000000;
    font-family: 'Alef', sans-serif;
    font-size: 1.25rem;
    /* padding: 4% 8%;*/
    min-height: 15rem;
    min-width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Add margin at the top */
}

.welcome-header {
    unicode-bidi: plaintext;
    font-family: 'Alef', sans-serif;
    font-size: 1.8rem;
}

.fantasyTeamNameForm>div {
    display: flex;
    /* Display label and input in a row */
    align-items: center;
    /* Center vertically */
    margin-top: 1rem;
}

.input-style {
    unicode-bidi: plaintext;
    font-family: 'Alef', sans-serif;
    width: 100%;
    /*padding: 0.5rem;*/
    width: auto;
    font-size: 1.25rem;
    /* Add margin between the input and labels */
}

.input-style::placeholder {
    unicode-bidi: plaintext;
    font-family: 'Alef', sans-serif;
    font-size: 1rem;
}

.labelStyle {
    unicode-bidi: plaintext;
    font-family: 'Alef', sans-serif;
    font-size: 1.5rem;
    text-align: right;
    min-width: 120px;
    margin-left: 1rem;
}


/* Style for the English label */

.submit-btn {
    unicode-bidi: plaintext;
    font-family: 'Alef', sans-serif;
    font-size: 1.25rem;
    margin-top: 1rem;
    background-color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 2vw;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    /* Add a subtle shadow */
    transition: background-color 0.3s, transform 0.2s;
    /* Add smooth hover effect */
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #b6d7a8;
    /* Change background color on hover */
    transform: translateY(-0.1rem);
    /* Add a slight lift on hover */
}

.error-label {
    unicode-bidi: plaintext;
    font-family: 'Alef', sans-serif;
    font-size: 1.2rem;
    margin-top: 1rem;
    /* Add margin at the top */
    color: red;
    /* Red color for error message */
}