.field-img {
    position: fixed;
    border-radius: 2vw;
    border: 0.25vw solid #d9f7cc;
    z-index: -1;
    left: 33%;
    bottom: 3%;
    height: 85%;
    width: 35%
}

.btnPlayerButton {
    margin: 2%;
    text-align: center;
    /*background-color: #bae9a6;*/
    background-color: rgba(255, 255, 255, 0);
    /*border-radius: 0.5vw;*/
    /*border: 0.15vw solid #131313;*/
    border: 0cm;
    color: #000000;
    font-family: 'Alef', sans-serif;
    font-weight: bold;
    /*box-shadow: 0.4vw 0.3vw 0.9vw rgb(0, 0, 0);*/
    width: 4rem;
    height: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* background-image: url('../../../images/city_1.png');
    background-size: cover;*/
}

.btnPlayerButton h1 {
    font-size: 0.8vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 0.2em 0.5em;
    bottom: 8%;
    margin: 0;
    position: absolute;
    width: 11%;
}

.btnPlayerButton h2 {
    font-size: 0.8vw;
    color: white;
    background-color: rgb(255, 73, 73);
    padding: 0.2em 0.5em;
    bottom: -20%;
    margin-left: -6.5%;
    position: absolute;
    width: 4.5%;
}

.btnPlayerButton h3 {
    font-size: 0.8vw;
    color: white;
    background-color: rgb(71, 183, 186);
    padding: 0.2em 0.5em;
    bottom: -22%;
    margin-left: 6.5%;
    position: absolute;
    width: 4.5%;
}

.btnPlayerButton h4 {
    font-size: 0.8vw;
    color: white;
    border-radius: 3vw;
    border: 0.05rem solid #131313;
    background-color: rgba(255, 169, 31, 0.9);
    padding: 0.2em 0.5em;
    bottom: 40%;
    margin-left: -8.5%;
    position: absolute;
    width: 2.5%;
}

.Xbtn {
    font-size: 0.8vw;
    color: white;
    border-radius: 0.5rem;
    background-color: rgba(255, 31, 31, 0.9);
    padding: 0.2em 0.9em;
    bottom: 67%;
    margin-left: 10%;
    position: absolute;
    width: 2.5%;
    cursor: pointer;
    text-indent: -0.15rem;
}