.info-container {}

.btnGroupOptions {
    display: flex;
    justify-content: center;
    /* grid-template-columns: repeat(3, 1fr);*/
    gap: 25%;
    background-color: transparent;
    /*margin-left: 50%;*/
    /* Add some gap between buttons */
}

.btnInfoAndOptions1,
.btnInfoAndOptions2 {
    text-align: center;
    background-color: transparent;
    border: none;
    /* Remove all borders */
    border-bottom: 2px solid transparent;
    /* Border-bottom transparent by default */
    border-radius: 10px;
    cursor: pointer;
    color: #000000;
    font-family: 'Alef', sans-serif;
    font-size: 37px;
    transition: background-color 0.3s, border-bottom 0.3s;
    /* Smooth transition */
    /*padding: 15px 25px;*/
    white-space: nowrap;
    margin-top: 40px;
    font-weight: bold;
}

.btnInfoAndOptions1:hover,
.btnInfoAndOptions2:hover {
    background-color: #b6d7a8;
    border-bottom: 2px solid #131313;
    /* Border-bottom on hover */
}

@media only screen and (min-width: 731px) and (orientation: landscape) {
    .info-container {
        margin-top: 20px;
        margin-left: 60%;
    }
    .btnGroupOptions {
        display: flex;
        justify-content: center;
        margin-left: 0%;
        gap: 30px;
        background-color: transparent;
        font-weight: bold;
        /* Add some gap between buttons */
    }
    .btnInfoAndOptions1 {
        font-size: 21px;
        margin-top: 20px;
        margin: 1px;
        background-color: transparent;
        font-weight: bold;
        border-bottom: 2px solid transparent;
        /*padding: 15px 25px;*/
    }
    .btnInfoAndOptions2 {
        font-size: 18.1px;
        word-break: break-word;
        margin: 1px;
        font-weight: bold;
        background-color: transparent;
        border-bottom: 2px solid #131313;
        margin-top: -13px;
        padding: 15px 25px;
    }
}


/*/.btnGroupOptions {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
}

.btnInfoAndOptions1 {
    text-align: center;
    background-color: #f3faf6;
    border-radius: 10px 10px 0 0;
    border: 1px solid #131313;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: sans-serif;
    font-size: 30px;
    /*padding: 1% 2%;*/


/*box-shadow: 0.1vw 0.3vw 0.9vw rgb(0, 0, 0);*/


/*text-decoration: none;*/


/*}

.btnInfoAndOptions1:hover {
    background-color: #b6d7a8;
}

.btnInfoAndOptions2 {
    /*margin: 1.5%;*/


/*text-align: center;
    background-color: #f3faf6;
    border-radius: 0 0 10px 10px;
    border: 1px solid #131313;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: 'Alef', sans-serif;
    font-size: 30px;
    /*padding: 1% 8%;*/


/*font-weight: bold;*/


/*box-shadow: 0.4vw 0.3vw rgb(0, 0, 0);*/


/*text-decoration: none;*/


/*}

.btnInfoAndOptions2:hover {
    background-color: #b6d7a8;
}

@media only screen and (min-width: 731px) and (orientation: landscape) {
    .btnGroupOptions {
        /*position: absolute;
        top: 18%;
        right: 50%;
        unicode-bidi: 'plaintext';
        width: 25%;*/


/*display: flex;
        justify-content: flex-end;
        margin-right: 25px;
    }
    .btnInfoAndOptions1 {
        margin-top: 50px;
    }
    .btnInfoAndOptions2 {
        /* padding: 0 5px;*/


/*font-size: 18.1px;
        word-break: break-word;
    }
}*/