.lineupByFixture-container {
    display: flex;
    justify-content: center;
    /*flex-direction: column;*/
    /* Center the content horizontally */
    align-items: center;
    /* Center the content vertically if needed */
    margin: -150px auto;
    padding: 0 20px;
    z-index: 10;
    /*width: 100%;*/
    /* Ensure it takes full width for proper centering */
}

.btnLeftArrowFixture,
.btnRightArrowFixture,
.btnGameweekFixture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnLeftArrowFixture,
.btnRightArrowFixture {
    background-color: #e1f9d7;
    border: 2px solid #131313;
    cursor: pointer;
    color: #000000;
    font-family: sans-serif;
    font-size: 50px;
    padding: 0 20px;
    /* Adjust padding for better spacing */
    margin: 0 5px;
    /* Add margin for spacing between buttons */
    border-radius: 25px;
}

.btnLeftArrowFixture:hover,
.btnRightArrowFixture:hover {
    background-color: #b6d7a8;
}

.btnGameweekFixture {
    background-color: #bae9a6;
    border: 2px solid #131313;
    color: #000000;
    font-family: 'Alef', sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding: 0 50px;
    /* Adjust padding for better spacing */
    /*box-shadow: 0.1vw 0.3vw 0.9vw rgb(0, 0, 0);*/
    margin: 0 5px;
    /* Add margin for spacing between buttons */
    border-radius: 25px;
}

@media only screen and (min-width: 731px) and (orientation: landscape) {
    .lineupByFixture-container {
        margin: -100px auto;
    }
    .btnLeftArrowFixture,
    .btnGameweekFixture,
    .btnRightArrowFixture {
        font-size: 30px;
    }
}