.players-list-root {
    /*position: absolute;
    top: 39.75%;
    right: 66.95%;
    z-index: 2;
    width: 30.75%;
    height: 97%;
    background-color: #8e2c2c !important;*/
    /*grid-template-rows: 1000px;*/
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    margin: 120px auto;
    /*min-height: 200px;*/
    width: 97%;
    height: auto;
    /*overflow: auto;*/
    z-index: 3;
    /*flex-grow: 1;*/
    background-image: url('https://img.freepik.com/premium-photo/green-purple-abstract-watercolor-painting-textured-white-paper-background_7190-1251.jpg?w=740');
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-checkbox-column-header {
    display: none;
}

.custom-data-grid {
    background-color: #f0f0f0;
}

.custom-toolbar-container {
    display: flex;
    justify-content: flex-end;
}

.grid-header-cell {
    white-space: normal;
    line-height: 1;
    font-size: 35px;
    font-weight: bold;
}

.grid-cell-text {
    white-space: normal;
    line-height: 1;
    font-size: 35px;
}

.grid-cell-position {
    white-space: normal;
    line-height: 1;
    font-size: 30px;
    font-weight: bold;
}

.grid-cell-player-name {
    white-space: normal;
    line-height: 1;
    font-size: 37px;
    /*font-weight: bold;*/
}

@media only screen and (min-width: 731px) and (orientation: landscape) {
    .players-list-root {
        position: absolute;
        /* top: 50%;
        left: 0%; */
        width: 32%;
        /*height: 50% ;*/
        z-index: 3;
        /* grid-template-rows: auto;*/
        margin: -200px auto;
    }
    .grid-cell-player-name,
    .grid-cell-position,
    .grid-cell-text {
        font-size: 18px;
    }
    .grid-header-cell {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1600px) and (orientation: landscape) {
    .players-list-root {
        top: 70%;
        width: 30%;
        left: 2%;
    }
}


/*.DataGrid {
    text-align: center;
    background-color: #65f0a1;
    border-radius: 0.5vw 0.5vw 0 0;
    border: 0.25vw solid #131313;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: 'Alef', sans-serif;
    font-size: 1.2vw;
    /* padding: 1% 2%; 
    /*text-decoration: none;
} */

div[role="tooltip"] {
    top: -11.5% !important;
    left: 2% !important;
}

.btnDropdownPos {
    text-align: center;
    background-color: #bae9a6;
    border-radius: 0.5vw;
    border: 0.15vw solid #131313;
    display: inline-block;
    color: #000000;
    cursor: pointer;
    font-family: 'Alef', sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 0.5% 1%;
    box-shadow: 0.4vw 0.3vw 0.9vw rgb(0, 0, 0);
}

.btnDropdownPos .dropdown-toggle {
    font-size: 1vw;
    background-color: #bae9a6;
    border: 0.15vw solid #bae9a6;
    cursor: pointer;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
}