.btnLogin {
    text-align: center;
    background-color: #eeeeef;
    border-radius: 2vw;
    border: 0.25vw solid #b6d7a8;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: 'Alef', sans-serif;
    font-size: 1.5vw;
    padding: 0.5% 1%;
    text-shadow: 0vw 0.1vw 0vw #2f6627;
    width: 10%;
    position: 'fixed';
    top: '5%';
    right: '10%';
    /*text-decoration: none;*/
}

.btnLogin:hover {
    background-color: #b6d7a8;
}

.formStyle {
    background-color: #2e2e75;
    border-radius: 2vw;
    border: 0.3vw solid #b6d7a8;
    cursor: default !important;
    display: block;
    color: #000000;
    font-family: 'Alef', sans-serif;
    font-size: 1.25vw;
    padding: 9% 20%;
    /* width: 50%;*/
}

.checkbox {
    position: fixed;
    top: 60%;
    right: 47%;
    font-size: 1.5vw;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* set the overlay color and opacity */
    z-index: 1;
    /* set the overlay above the popup */
}

.popup-content {
    position: fixed;
    top: 35%;
    right: 30%;
    z-index: 2;
    /* set the popup above the overlay */
}