.btnNotCurrLang {
    text-align: center;
    background-color: #eeeeef;
    border-radius: 9px;
    border: 3px solid #131313;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: 'Alef', sans-serif;
    font-size: 40px;
    padding: 5px 10px;
    /*text-decoration: none;*/
    /*width: 7%;*/
}

.btnNotCurrLang:hover {
    background-color: #b6d7a8;
}

.btnCurrLang {
    text-align: center;
    background-color: #bae9a6;
    border-radius: 9px;
    border: 3px solid #131313;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: 'Alef', sans-serif;
    font-size: 40px;
    padding: 5px 10px;
    /*text-decoration: none;*/
    /*width: 7%;*/
}

.btnCurrLang:hover {
    background-color: #b6d7a8;
}

.btnCurrLangPred {
    text-align: center;
    background-color: #ffdec9;
    border-radius: 0.3vw;
    border: 0.15vw solid #131313;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: 'Alef', sans-serif;
    font-size: 1vw;
    width: 7%;
    /* padding: 0.5% 1%;*/
    /*text-decoration: none;*/
}

.btnCurrLangPred:hover {
    background-color: #fab990;
}

.lang-btns {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
    margin-left: 35px;
}

@media (max-width: 730px) {
    .lang-btns {
        margin-top: 0px;
    }
    .btnCurrLang,
    .btnNotCurrLang {
        border-radius: 4px;
        border: 2px solid #131313;
        font-size: 20px;
    }
}

@media only screen and (min-width: 731px) and (orientation: landscape) {
    .lang-btns {
        flex-direction: row;
        margin-top: 25px;
        /* margin-left: 20px;*/
    }
    .btnCurrLang,
    .btnNotCurrLang {
        border-radius: 4px;
        border: 2px solid #131313;
        font-size: 20px;
    }
}

@media only screen and (min-width: 1600px) and (orientation: landscape) {
    .lang-btns {
        margin-top: 40px;
        margin-left: 50px;
    }
}