.field-img {
    position: fixed;
    border-radius: 2vw;
    border: 0.25vw solid #d9f7cc;
    z-index: -1;
    left: 33%;
    bottom: 3%;
    height: 85%;
    width: 35%
}

.btnPlayerButton {
    margin: 1%;
    text-align: center;
    background-color: #bae9a6;
    border-radius: 0.5vw;
    border: 0.15vw solid #131313;
    display: inline-block;
    color: #000000;
    font-family: 'Alef', sans-serif;
    font-size: 0.4vw;
    /*padding: 1% 2%;*/
    font-weight: bold;
    box-shadow: 0.4vw 0.3vw 0.9vw rgb(0, 0, 0);
    /*text-decoration: none;*/
    width: 6vw;
    height: 3vw;
    white-space: nowrap;
}