.fantasy-logo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    block-size: 72px;
    /*margin-left: 10px;*/
    /*max-width: 260px;*/
    /* Set the width you want */
    /*height: auto;*/
    /* Maintain aspect ratio */
    /*margin: 0 auto;*/
    /* Center the logo horizontally */
    /* display: block;*/
    /* Ensure the logo is displayed as a block element */
}

.fantasy-header {
    display: flex;
    justify-content: space-between;
    background-color: #e1f9d7;
    z-index: 5;
    border-bottom: 4px solid #131313;
    padding: 50px 10px;
    /* gap: 15%;*/
}

@media only screen and (min-width: 731px) and (orientation: landscape) {
    .fantasy-logo {
        margin-top: 0;
        margin-right: 0;
    }
    .fantasy-header {
        justify-content: space-between;
        gap: 0px;
        border-bottom: 2px solid #adadad;
        padding: 15px 30px;
        /* padding: 0 0;*/
        /*background-color: transparent;
        margin-top: 40px;*/
        /*border-bottom: 0;*/
    }
}

@media only screen and (min-width: 1200px) and (orientation: landscape) {}

@media only screen and (min-width: 1400px) and (orientation: landscape) {
    .fantasy-header {
        margin-left: 0px;
    }
}

@media only screen and (min-width: 1601px) and (orientation: landscape) {}