.myLeagues-container {
    unicode-bidi: plaintext;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin: -150px auto;
    min-height: 200px;
    width: 100%;
    justify-content: center;
    /*flex-direction: column;*/
}

.myLeagues-grid {
    background-color: #e0f9d5;
    background-image: url(https://img.freepik.com/premium-photo/green-purple-abstract-watercolor-painting-textured-white-paper-background_7190-1251.jpg?w=740);
    background-size: cover;
    /* width: 50%;*/
}

.header-myLeagues-grid {
    white-space: normal;
    line-height: 1.5;
    font-size: 30px;
    font-weight: bold;
}

.cells-myLeagues-grid {
    white-space: normal;
    line-height: 2;
    font-size: 30px;
    text-decoration: underline;
}

@media only screen and (min-width: 731px) and (orientation: landscape) {
    .header-myLeagues-grid {
        font-size: 20px;
    }
    
    .myLeagues-grid {
        position: absolute;
        bottom: 200%;
        left: 5%;
        width: 25%;
        height: 47%;
        z-index: 3;
    }

    .cells-myLeagues-grid {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1401px) and (orientation: landscape) {
    .myLeagues-grid {
        bottom: 270%;
    }
}


/*.DataGrid {
    text-align: center;
    background-color: #bdeaba;
    border-radius: 0.5vw 0.5vw 0 0;
    border: 0.25vw solid #131313;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: 'Alef', sans-serif;
    font-size: 1.1vw;
    padding: 1% 2%;
    /*text-decoration: none;*/
/*}*/