body {
    font-family: 'Alef', sans-serif;
    background-image: url('images/newBackground1.jpeg');
    min-height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 103%;
    -moz-background-size: 100% 100%;
}