    .btnGame {
        background-color: rgba(238, 238, 239, 0.9);
        border-radius: 20px;
        border: 2px solid #b6d7a8;
        cursor: pointer;
        /*padding: 240px 40px;*/
        font-size: 50px;
        /*padding-top: 30px;*/
        /*background-position: -55px 45px;*/
        white-space: nowrap;
        /*text-align: center;
        background-size: cover;
        background-repeat: no-repeat;*/
        padding: 40px 100px;
        text-indent: -60px;
        text-align: right;
        background-position: left;
        background-size: 29% 100%;
        background-repeat: no-repeat;
    }
    
    .btnGame:hover {
        background-color: #b6d7a8;
        transform: scale(0.95);
    }
    
    .leaguesList {
        background-color: rgba(238, 238, 239, 0.9);
        border-radius: 20px;
        border: 2px solid #b6d7a8;
        cursor: default !important;
        display: block;
        color: #000000;
        font-family: 'Alef', sans-serif;
        font-size: 25px;
        /*padding: 3% 6%;*/
        /* width: 25%;*/
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .tdleagues {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .btnleagues {
        margin: 2%;
        text-align: center;
        /* background-color: #eeeeef;*/
        border-radius: 20px;
        border: 2px solid #b6d7a8;
        display: inline-block;
        cursor: pointer;
        color: #000000;
        font-family: 'Alef', sans-serif;
        font-size: 50px;
        /*text-shadow: 0vw 0.1vw 0vw #2f6627;*/
        width: 100%;
        /* Set the width */
        height: 100%;
        /* Set the height */
        white-space: nowrap;
        /* Prevent the text from wrapping */
        overflow: hidden;
        /* Hide the text that doesn't fit */
        text-overflow: clip;
        /* Add ellipsis (...) for overflow text */
        background-size: cover;
        /* This will ensure the flag image fits the button */
        background-repeat: no-repeat;
        background-position: center -2.5px;
        transition: background 0.3s;
        padding: 10px 250px;
    }
    
    .btnleagues:hover {
        background-color: #ffffff;
        transform: scale(0.95);
    }
    
    .disabledBtnleagues {
        margin: 2%;
        /*background-color: #eeeeef;*/
        border-radius: 20px;
        border: 2px solid #b6d7a8;
        cursor: pointer;
        color: #000000;
        font-family: 'Alef', sans-serif;
        font-size: 50px;
        /* text-shadow: 0vw 0.1vw 0vw #2f6627;*/
        width: 100%;
        /* Set the width */
        height: 100%;
        /* Set the height */
        white-space: nowrap;
        /* Prevent the text from wrapping */
        overflow: hidden;
        text-align: center;
        /* Hide the text that doesn't fit */
        text-overflow: clip;
        background-size: cover;
        /* This will ensure the flag image fits the button */
        background-repeat: no-repeat;
        background-position: center -2.5px;
        transition: background 0.3s;
        padding: 10px 250px;
    }
    
    .table-container {
        width: 100%;
        /* or a specific width if needed */
        overflow-x: hidden;
        /* Enable horizontal scrolling */
        overflow-y: hidden;
        /* Hide vertical scrolling, adjust as needed */
        /* Optional: Add some padding for better appearance */
    }
    
    @media only screen and (min-width: 1201px) and (orientation: landscape) {
        .btnGame {
            /*padding-bottom: 20px;*/
            /*padding-left: 100px;*/
            /*padding: 120px 40px;*/
            text-indent: -50px;
            text-align: center;
            background-position: -35px 45px;
            background-size: cover;
            font-size: 30px;
        }
    }
    
    @media only screen and (min-width: 731px) and (orientation: landscape) {
        .btnGame {
            padding-bottom: 180px;
            padding-left: 50px;
            /*padding: 120px 40px;*/
            text-indent: -60px;
            text-align: center;
            background-position: -30px 45px;
            background-size: cover;
            font-size: 25px;
        }
        .btnleagues,
        .disabledBtnleagues {
            font-size: 25px;
            padding: 5px 100px;
            height: auto;
        }
        .leaguesList {
            background-color: rgba(238, 238, 239, 0.9);
            border-radius: 20px;
            border: 2px solid #b6d7a8;
            cursor: default !important;
            display: block;
            color: #000000;
            font-family: 'Alef', sans-serif;
            font-size: 50px;
            /*padding: 3% 6%;*/
            /* width: 25%;*/
            justify-content: space-between;
            align-items: center;
        }
    }
    
    @media (max-width: 730px) {
        .btnGame {
            padding: 20px 100px;
            text-indent: -60px;
            text-align: right;
            background-position: left;
            background-size: 29% 100%;
            background-repeat: no-repeat;
            font-size: 30px;
        }
    }
    /* @media (max-width: 600px) {
        .btnGame {
            padding: 10px 60px;
            text-indent: -30px;
            text-align: right;
            background-position: left;
            background-size: 29% 100%;
            background-repeat: no-repeat;
            font-size: 25px;
        }
    }*/