.btnGame {
    background-color: #eeeeef;
    border-radius: 2vw;
    border: 0.25vw solid #b6d7a8;
    cursor: pointer;
}

.btnGame:hover {
    background-color: #b6d7a8;
}

.leaguesList {
    background-color: #eeeeef;
    border-radius: 2vw;
    border: 0.3vw solid #b6d7a8;
    cursor: default !important;
    display: block;
    color: #000000;
    font-family: 'Alef', sans-serif;
    font-size: 1.25vw;
    /*padding: 3% 6%;*/
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tdleagues {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnleagues {
    margin: 2%;
    text-align: center;
    background-color: #eeeeef;
    border-radius: 1vw;
    border: 0.25vw solid #b6d7a8;
    display: inline-block;
    cursor: pointer; 
    color: #000000;
    font-family: 'Alef', sans-serif;
    font-size: 1.5vw;
    text-shadow: 0vw 0.1vw 0vw #2f6627;
    width: 350px; /* Set the width */
    height: 50px; /* Set the height */
    white-space: nowrap; /* Prevent the text from wrapping */
    overflow: hidden; /* Hide the text that doesn't fit */
    text-overflow: ellipsis; /* Add ellipsis (...) for overflow text */
    background-size: cover; /* This will ensure the flag image fits the button */
    background-repeat: no-repeat;
    background-position: center -2.5px;
    transition: background 0.3s;
}

/*
.btnleagues:hover {
     background-color: #b6d7a8;
}*/