.top-line {
    box-sizing: border-box;
    margin-top: 50px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /*margin: 0;*/
    /* flex-direction: column;*/
}

.left-photo {
    z-index: -1;
    position: fixed;
    left: 0px;
    bottom: 0px;
    margin-bottom: 55px;
    block-size: 500px;
}

.right-photo {
    z-index: -1;
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin-bottom: 55px;
    block-size: 500px;
}

.main-logo {
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-left: 20px;
    block-size: 150px;
}

.grid-games {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 180px;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 40px;
    text-align: center;
    direction: rtl;
    /*place-items: center;*/
    /*margin: 70px 20px;*/
    /* padding: 5px 20px;*/
}

.space {
    height: 0px;
    color: transparent;
}


@media only screen and (min-width: 731px) and (orientation: landscape) {
    .top-line {
        margin-top: 0px;
    }
    .grid-games {
        grid-template-columns: repeat(3, 220px);
        margin: 70px 20px;
        margin-top: 30px;
    }
    .left-photo,
    .right-photo {
        block-size: 200px;
        margin-bottom: 10px;
    }
    .main-logo {
        margin-top: 0px;
        margin-left: 40px;
        block-size: 80px;
    }
}

@media only screen and (min-width: 1201px) and (orientation: landscape) {
    .left-photo,
    .right-photo {
        block-size: auto;
        margin-bottom: 20px;
    }
    .main-logo {
        margin-top: 0px;
        margin-left: 40px;
        block-size: 110px;
    }
    .grid-games {
        grid-template-columns: repeat(3, 270px);
        margin: 30px 20px;
        margin-left: 300px;
        margin-right: 300px;
    }
}

@media only screen and (min-width: 1400px) and (orientation: landscape) {
    .main-logo {
        margin-top: 50px;
    }
}

@media only screen and (min-width: 1601px) and (orientation: landscape) {
    .main-logo {
        margin-top: 80px;
    }
    .left-photo,
    .right-photo {
        block-size: 450px;
        margin-bottom: 30px;
    }
}

@media (max-width: 950px) {
    .left-photo,
    .right-photo {
        margin-bottom: 20px;
    }
}

@media (max-width: 730px) {
    .main-logo {
        margin-top: 10px;
        margin-left: 10px;
        block-size: 90px;
    }
    .left-photo {
        block-size: 250px;
        margin-bottom: 20px;
    }
    .right-photo {
        block-size: 250px;
        margin-bottom: 20px;
    }
    .top-line {
        margin-top: 25px;
    }
    .grid-games {
        margin-top: 40px;
        gap: 20px
    }
}

@media (max-width: 600px) {
    .main-logo {
        margin-left: 20px;
        block-size: 70px;
        /*margin-top: 20px;*/
    }
    .left-photo {
        block-size: 200px;
        /* margin-bottom: 20px;*/
    }
    .right-photo {
        block-size: 200px;
        /*margin-bottom: 20px;*/
    }
}

/*@media only screen and (min-width: 1201px) and (orientation: landscape) {
    .top-line {
        margin-top: 0px;
    }
    .grid-games {
        grid-template-columns: repeat(3, 270px);
    }
}*/