.btnLogin {
    text-align: center;
    background-color: rgba(238, 238, 239, 0.9);
    border-radius: 40px;
    border: 6px solid #b6d7a8;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: 'Alef', sans-serif;
    font-size: 50px;
    padding: 5px 20px;
    /*text-shadow: 0vw 0.1vw 0vw #2f6627;*/
    /*width: 10%;*/
    /* position: 'fixed';*/
    /*text-decoration: none;*/
}

.btnLogin:hover {
    background-color: #b6d7a8;
    transform: scale(0.95);
}

.formStyle {
    background-color: rgba(238, 238, 239, 0.95);
    border-radius: 40px;
    border: 3px solid #b6d7a8;
    cursor: default !important;
    display: flex;
    flex-direction: column;
    color: #000000;
    font-family: 'Alef', sans-serif;
    padding: 40px 120px;
    direction: rtl;
    font-size: 50px;
    unicode-bidi: plaintext;
    gap: 50px;
}

.itemFormStyle {
    margin: 10px;
}

.labelStyle {
    /*width: 30%;*/
    /*unicode-bidi: plaintext;*/
    direction: rtl;
}

.txtBoxStyle {
    border: 0;
    border-bottom: 1px solid #000000;
    background-color: rgba(238, 238, 239, 0.95);
    width: 100%;
    font-size: 40px;
    direction: ltr;
}

.checkboxFormStyle {
    display: flex;
    justify-content: center;
    /* Center checkbox horizontally */
    width: 100%;
    /* Ensure full width for centering */
    margin: 10px 0px;
}

.checkbox {
    font-size: 20px;
    transform: scale(2);
}

.moveToSignUp {
    background-color: transparent;
    border: 0;
    font-size: 30px;
    cursor: pointer;
    margin-top: 5px;
    text-decoration: underline;
}

.moveToSignUp:hover {
    transform: scale(1.05);
}

.icons-social {
    display: flex;
    justify-content: center;
    /* Center icons horizontally */
    width: 100%;
    /* Ensure full width for centering */
    margin-top: 20px;
}

.icons-social .fa-facebook {
    color: #2154ab;
}

.icons-social .fa-facebook,
.icons-social .fa-google {
    margin: 0 10px;
    font-size: 80px;
    /* Add some space between the icons */
}

.close-btn {
    padding: 5px 5px;
    font-size: 30px;
    color: #000000;
}

.popup-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    /* set the overlay color and opacity */
    /*z-index: 1;
    /* set the overlay above the popup */
}

.popup-content {
    /*position: fixed;
    top: 35%;
    right: 30%;
    z-index: 2;
    /* set the popup above the overlay */
}

@media (max-width: 730px) {
    .btnLogin {
        padding: 5px 10px;
        border-radius: 20px;
        border: 2px solid #b6d7a8;
        font-size: 20px;
    }
}

@media only screen and (min-width: 731px) and (orientation: landscape) {
    .btnLogin {
        border-radius: 20px;
        border: 2px solid #b6d7a8;
        font-size: 20px;
        padding: 5px 20px;
    }
    .formStyle,
    .txtBoxStyle,
    .moveToSignUp {
        /* background-color: rgba(238, 238, 239, 0.95);
        border-radius: 40px;
        border: 3px solid #b6d7a8;
        cursor: default !important;
        display: flex;
        flex-direction: column;
        color: #000000;
        font-family: 'Alef', sans-serif;
        padding: 40px 120px;
        direction: rtl;
        unicode-bidi: plaintext;*/
        font-size: 20px;
        gap: 0px;
    }
    .icons-social .fa-facebook,
    .icons-social .fa-google {
        margin: 0 10px;
        font-size: 40px;
        /* Add some space between the icons */
    }
    .checkbox {
        transform: scale(1);
    }
    .close-btn {
        padding: 2px 2px;
        font-size: 15px;
    }
}