/*.btnLSBar {
    text-align: center;
    background-color: #eeeeef;
    border-radius: 2vw;
    border: 0.3vw solid #b6d7a8;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: 'Alef', sans-serif;
    font-size: 1.5vw;
    padding: 0.5% 1%;
    text-decoration: none;
    width: 10%;
}

.btnLSBar:hover {
    background-color: #b6d7a8;
}*/

.login-signup-btns {
    display: flex;
    position: unset;
    /*top: 65%;
    right: 22%;*/
    gap: 20px;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 15px;
}

@media (max-width: 730px) {
    .login-signup-btns {
        margin-top: 0px;
        margin-right: 15px;
        flex-direction: column;
        gap: 10px;
    }
}

@media only screen and (min-width: 731px) and (orientation: landscape) {
    .login-signup-btns {
        flex-direction: row-reverse;
        margin-top: 30px;
        margin-right: 30px;
        gap: 10px;
    }
}

@media only screen and (min-width: 1600px) and (orientation: landscape) {
    .login-signup-btns {
        margin-top: 50px;
    }
}